<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<handlers>
<add name="Python FastCGI"
path="*"
verb="*"
modules="FastCgiModule"
scriptProcessor="d:\fleet\env\scripts\python.exe|d:\fleet\env\lib\site-packages\wfastcgi.py"
resourceType="Unspecified"
requireAccess="Script" />
</handlers>
</system.webServer>

<appSettings>
<add key="PYTHONPATH" value="D:\fleet\fleet" />
<add key="WSGI_HANDLER" value="fleet.wsgi.application" />
<add key="DJANGO_SETTINGS_MODULE" value="fleet.settings" />
</appSettings>
</configuration>