{% extends "app/msfleet.html" %}
{% block title %}:: Driver List::{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

    <!--sidebar end-->
{% block content %}
    <!--main content start-->
      <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h2>Drivers</h2>
          <div>

            <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Driver Name</th>
                    <th scope="col">BATA</th>
                    {% if not request.user.is_superuser %}
                    <th scope="col">Edit</th> 
                    {% endif %}
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
            {% for driver in drivers %}

                <tr>
                  <td>
                    {{ forloop.counter }}
                  </td>
                  <td><a href="{% url 'app:driver-detail' driver.pk %}">{{ driver.name }}</a> </td>
                  <td>{{ driver.bata }} </td>
                  {% if request.user.usrd_usrcatpntr.usrcat_code == '7' %}
                  <td> <a
                        href="{% url 'app:driver-update' driver.pk %}">Edit</a></td>
                    {% endif %}
                  {% if request.user.usrd_usrcatpntr.usrcat_code == '6' %}
                  <td> <a
                        href="{% url 'app:expense-update' driver.pk %}">Edit</a></td>
                    {% endif %}
                   <td> <a href="#">Delete</a></td></tr>
                </td>
            {% empty %}
                <tr>No drivers yet.</tr>
            {% endfor %}
            </table>
            {% if drivers.has_other_pages %}
              <ul class="pagination">
                {% if drivers.has_previous %}
                  <li><a href="?page={{ drivers.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in drivers.paginator.page_range %}
                  {% if drivers.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if drivers.has_next %}
                  <li><a href="?page={{ drivers.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        <p>
            <a class="btn btn-primary " href="{% url 'app:driver' %}">Add a Driver</a>
        </p>

    </div>
          </div>
        </div>
      
      </section>  
    </section>
    <!--main content end-->
  </section>
  <!-- container section end -->
  <!-- javascripts -->
  <script src="{% static 'app/js/jquery.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <!-- nice scroll -->
  <script src="{% static 'app/js/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!--custome script for all page-->
  <script src="{% static 'app/js/scripts.js' %}"></script>

  
{% endblock %}
</body>

</html>

























